<%= render 'form', cat: @cat %>



    <%# <label for="sex" id="selection">
    <select id="selection" name="cat[sex]" >
        <option value="'M'#">Male</option>
        <option value="<% 'F'">Female</option>
    </select> %>
    <%# </label> %>




