<h1>Cat#new</h1>
<p>Find me in app/views/cat/new.html.erb</p>

<form action="<%= cats_url %>" method="post">
    <label for="name"> name:
    </label>
    <input id="name" type="text" name="cat[name]">

    <br />
    <label for="selection" id="selection">
       <select id="selection" name="cat[color]" >
            <option value="<% 'Black' %>">Black</option>
            <option value="<% 'White' %>">White</option>
            <option value="<% 'Orange' %>">Orange</option>
            <option value="<% 'Gray' %>">Gray</option>
        </select>
    </label>

    <br />


    <label for="sex" id="selection">
    <select id="selection" name="cat[sex]" >
        <option value="<% 'M' %>">Male</option>
        <option value="<% 'F' %>">Female</option>
    </select>
    </label>

    <label for="age" id="age">
        <input  type="text"id="age" name="cat[age]">
    </label>

    <label for="description" >
        <input  type="text" name="cat[description]">
    </label>






    <br />
    <input type="submit" value="Create User">
</form>
